[homing_override]
axes: xyz
set_position_z: 0
# set_position_x: 20
# set_position_y: 20
gcode:
   {% set home_all = 'X' not in params and 'Y' not in params and 'Z' not in params %}
   SAVE_GCODE_STATE NAME=STATE_HOME_OVERRIDE                      # fix for test speed macro
   G90
   G0 Z5 F1250                                                     # zhop 5mm
#    G91 
#    G0 X-15 Y-15 F7200
#    G90
   {% if home_all or 'X' in params %}
    _HOME_X
   {% endif %}
   {% if home_all or 'Y' in params %}
    _HOME_Y
   {% endif %}
   {% if home_all or 'Z' in params %}
    _HOME_Z
   {% endif %}
    RESTORE_GCODE_STATE NAME=STATE_HOME_OVERRIDE                      # fix for test speed macro

[gcode_macro _HOME_X]
gcode:
    SAVE_GCODE_STATE NAME=STATE_HOME_X                                 # fix for test speed macro
    G28 X               # home X axis  
    G91                 # set to reletive motion
    G1 X-70 F24000      # Move away
    # Set current during print
    RESTORE_GCODE_STATE NAME=STATE_HOME_X                              # fix for test speed

[gcode_macro _HOME_Y]
gcode:
    SAVE_GCODE_STATE NAME=STATE_HOME_Y                                 # fix for test speed macro
    G28 Y              # home Y axis  
    G91                # set to reletive motion
    G1 Y-10 F24000     # Move away
    RESTORE_GCODE_STATE NAME=STATE_HOME_Y                      # fix for test speed macro

[gcode_macro _HOME_Z]
gcode:
    G90                                    # set to absolute motion
    {% set X_MIN = printer.configfile.settings['stepper_x'].position_min | float(0) %}
    {% set X_MAX = printer.configfile.settings['stepper_x'].position_max | float(0) %}
    {% set Y_MIN = printer.configfile.settings['stepper_y'].position_min | float(0) %}
    {% set Y_MAX = printer.configfile.settings['stepper_y'].position_max | float(0) %}
    
    {% set POSITION_X = (X_MIN + X_MAX) / 2 %}
    {% set POSITION_Y = (Y_MIN + Y_MAX) / 2 %}
    G0 X{POSITION_X} Y{POSITION_Y} F20000   # moves print head to center of bed
    G28 Z                                   # home Z axis
    G90                                     # set to absolute motion
    G0 Z5 F1250                             # move bed 10mm away from the nozzle

